/**/
@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Merriweather&family=Roboto&display=swap');


html{
    font-size: 10px;
}

@media (min-width: 600px){
    html{
        font-size: 70%;
    }
}

body{
    background-color:#fffbf7 ;
}

input{
    background-color: #025157; 
    color:#fff;
}

header {
    margin: 0;
    padding:0;
    display: flex;
    align-items:center;
    flex-wrap: nowrap;
    justify-content: center;
    font-family:sans-serif;
    font-size: 18px;
}


.logo{
    width: 20%;
}

.logo img{
    width: 20em;
}



nav {
    width: 70%;
    
}

nav ul{
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
} 

nav ul li{
    display: inline;
    margin-right: 100px;
}

nav ul li a{
    text-decoration: none;
    color:#025157;
}

nav ul li a:visited {
    color:#025157;
}

nav ul li a:hover {
    color: #494cef;
    text-decoration: dotted;
}

.actions{
    width: 20%;
    text-align: right;
    margin-right: 3%;
    position: fixed;
    right: 0%;
}

.actions button{
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family:sans-serif;
  border-radius: 10px; 
}


.actions button:hover {
    background-color: #555;
}


main{
    text-align: center;
    align-content: center;
}

main p{
    width: 80%;
    margin: 0 auto; /* Agregar margen automático horizontal para centrar */
    color: #46484c;
    font-family: 'Merriweather', serif;
    text-align: justify;
    font-size: 2rem; /* base navegador 16px * 2 = 32px */
    /* text-align-last: center; Alinear el último renglón al centro */
    /* text-transform: capitalize; */
}  

main b{
    color:#8b8b8bcc
}

main h1{
    font-family: 'Chokokutai', cursive;
    font-size: 3rem;
    position: sticky;
    top:0;
}