@use 'global' as *;


@mixin repetido($tamano,$color){
    height:$tamano;
    width:$tamano;
    background-color:$color;
}

.blog{
    @include repetido($size,$light-green);
    margin:0 auto;
    // @media(orientation:landscape){
    //     background-color: $azul;
    // }

    @if(1+1==2){
        border:2px solid $azul;
    }
}

.blog2{
    @include repetido(250px,$light-green);
    animation-name: mianimacion;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes mianimacion {
    0%   {background-color: $light-green; left: 0; top: 0;}
    25%  {background-color: red; left: 300px; top: 0;}
    50%  {background-color: $verde; left: 300px; top: 300px;}
    75%  {background-color: pink; left: 0; top:300px;}
    100% {background-color: $azul; left: 0; top: 0;}
}

.title {
    @extend %base-title;
}




div {
    ul{
        list-style: none;
        li{
            font-size: 1em;
            font-family: 'Courier New', Courier, monospace;
        }
    }
}